@model Task<IEnumerable<ResultBrandDto>>
<section class="brand-area section_gap">
	<div class="container">
		<div class="row">
			@foreach (var item in await Model)
			{
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="~/master/img/brand/@item.BrandImageUrl" alt="">
				</a>
			}
			
		</div>
	</div>
</section>
