
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="~/master/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Sercan Shopping</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="~/master/css/linearicons.css">
	<link rel="stylesheet" href="~/master/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/master/css/themify-icons.css">
	<link rel="stylesheet" href="~/master/css/bootstrap.css">
	<link rel="stylesheet" href="~/master/css/owl.carousel.css">
	<link rel="stylesheet" href="~/master/css/nice-select.css">
	<link rel="stylesheet" href="~/master/css/nouislider.min.css">
	<link rel="stylesheet" href="~/master/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="~/master/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="~/master/css/magnific-popup.css">
	<link rel="stylesheet" href="~/master/css/main.css">
</head>
