


@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link" href="/Cart/Index/"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Cart(@await Component.InvokeAsync("_CartSummaryComponentPartialView"))</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" asp-area="" asp-action="Logout" asp-controller="Account">
            <i class="fa solid fa-right-to-bracket"></i>
            Logout
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" aria-current="page" asp-area="" asp-action="Login" asp-controller="Account">
            <i class="fa solid fa-right-to-bracket"></i>
            Login
        </a>
    </li>
}
